body, html {
  margin: 0;
  height: 100%;
  font-family: 'Playfair Display', serif;
  background-size: cover;
  background-repeat: no-repeat;

}
a{
  color: inherit;
}
/* Add a black background color to the top navigation */
#topnav {
  background-color: #5E85B2;
  overflow: hidden;
  margin-top: 0px;
  position: sticky;
  z-index:2;
  top:0;
  width: 100%;
  transition: top 0.3s;
}

/* Style the links inside the navigation bar */
#topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 0.875rem 1rem;
  text-decoration: none;
  font-size: 1.063rem;

}

/* Change the color of links on hover */
#topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
#topnav a.active {
  background-color: #E4C200;
  color: white;

}
#welcomeHeader{
  font-size: 3.125rem;
  margin-top: 0px;
  text-align: center;
  background-color: #002868;
  color: white;
  padding: 0.75rem;
}
#courselist{
  padding-top: 1rem;
  margin-left: 10.625rem;
  font-size: 2.8rem;
  text-decoration: underline;
}

.logoImg{
  display: block;
  margin-left: 30rem;
  margin-right: auto;
  width: 50%;
  max-height: 19.313rem;
  max-width: 28.125rem;
}
.SERVICES {
  margin: 5.313rem;
  margin-top: 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: relative;
  flex-shrink: 2;
}
.ServiceDiv{
  flex-basis: 18.75rem;
  background-color: white;
  text-align: center;
  width: 100%;
  border: 0.313rem outset #5E85B2;
  border-radius: 1.375rem;
  margin: 0.625rem;
  flex-shrink: 3;
  color: 	#333333;

}

.ServiceDiv p{
  font-family: 'Montserrat', sans-serif;
}
.divIMG{
  margin-top: 0.75rem;
  height: 2.5rem;
  padding: 0 0.313rem;
  mix-blend-mode: multiply;
}
.button a:hover{
  text-decoration: underline;
  color: black;
}
.servicebtn{
  background-color: #4CAF50;
  color: white;
  margin: 0.625rem 0;
  border: none;
  width: 75%;
  border-radius: 0.188rem;
  cursor: pointer;
  font-size: 1.063rem;
}
.servicebtn a{
  text-decoration: none;
  color: white;
}
#certifiedfirstaid{
  margin-top: 0.75rem;
  width: 3.125rem;
  height: 3.125rem;
  mix-blend-mode: multiply;
}
.WELCOME {
  align-items: center;
  display: flex;
  position: relative;
  margin-top: 0px;
  flex-shrink: 3;
  justify-content: center;
}
.WelcomeDiv{
  margin-bottom: 5rem;
}

.INFO {
  font-size: 2.340702210663199vh;
  background-color: #ca241c;
  color: white;
  text-align: center;
  height: 20rem;
  width: 40rem;
  justify-content: center;
  max-width: 100%;
  flex-shrink: 2;
}
.INFO p {
  margin: 5rem auto 0 auto;
}
.stats {
  background-color: #5E85B2;
  font-size: 1.25rem;
  width: 76.313rem;
  max-width: 100%;
  color: black;
  margin: 1.563rem auto;
  padding: 0.25rem;
  box-sizing: border-box;
  background-color: #E4E4D9;
  background-image: linear-gradient( 45deg, rgba(0,0,0,0) 95%, #E7554D 95%),
                    linear-gradient( 45deg, rgba(0,0,0,0) 92%, #5E85B2 92%),
                    linear-gradient( 45deg, rgba(0,0,0,0) 89%, #FDFD98 89%),
                    linear-gradient( 45deg, rgba(0,0,0,0) 86%, #EB7770 86%),
                    linear-gradient( 45deg, rgba(0,0,0,0) 83%, #8EA9C9 83%),
                    linear-gradient( 45deg, rgba(0,0,0,0) 80%, #FDFDB6 80%);
}

.stats h2{
  text-align: center;
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 20.313rem;
  height: 9.375rem;
  border: 0.313rem double #E4C200;
  perspective: 62.5rem; /* Remove this if you don't want the 3D effect */
  flex-basis: 25%;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 9.375rem;
  text-align: center;
  transition: transform 1.3s;
  transform-style: preserve-3d;

}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;;
  height: 9.375rem;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;

}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #5E85B2;
  color: white;
  font-size: 1.5rem;
}

/* Style the back side */
.flip-card-back {
  background-color: #ca241c;
  color: white;
  transform: rotateY(180deg);
}
.flipcardcontainer{
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: center;
  padding-bottom: 10.75rem;
}
.faqs{
  font-size: 1.125rem;
  display: flex;
}
.faqs h1{
  padding-top: 1rem;
  margin-left: 10.625rem;
  font-size: 2.8rem;
  text-decoration: underline;
}
.faqs img{
  margin: 0 auto;
}

footer {
  bottom: 0;
  max-width: 100%;
  background-color: black;
  color: white;
  display: flex;
  height: 9.375rem;
  justify-content: center;
  flex-shrink: 3;

}
textarea{
  resize: none;
  padding-left: 6.25rem;
  max-width: 20%;
}
#footcontact{
  background-color: red;
}
.email{
  padding-left: 0.75rem;
  float: right;
}
.email h1{
  font-size: 4.23841059602649vh;
  flex-shrink: 3;
}
#headerimg{
  max-height: 60%
}

#row{
  margin-bottom: 9.375rem;
}
.footsite a{
  color: white;
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px)  {
  .flipcardcontainer{
    flex-direction: column;
    align-items: center;
  }
  .WELCOME{
    flex-direction: column;
  }
  .INFO{
    padding: 0;
    height: 18rem;
    font-size: 2rem;
    width: 43rem;
  }
  #courseLogo{
    display: block;
    margin-left: 16rem;
    margin-right: auto;
    width: 50%;
  }
  .logoImg{
    margin-left: 0;
    height: 16rem;
    width: 30rem;
  }
  #courselist{
    margin-left: 0;
  }
  footer{
    display: none;
  }
  .ServiceDiv{
    flex-basis: 32rem;
    height: 52rem;
  }
  .ServiceDiv h3{
    font-size: 2.5rem;
  }
  .ServiceDiv p{
    font-size: 2.25rem;
  }
  .servicebtn{
    height: 2rem;
    font-size: 1.5rem;
  }
  #topnav a{
    font-size: 1.75rem;
  }
  .welcomeHeader{
    font-size: 4rem;
  }
}
@media (max-width: 800px) {
  .flipcardcontainer{
    flex-direction: column;
    align-items: center;
  }
  .WELCOME{
    flex-direction: column;
  }
  .INFO{
    padding: 0;
    height: 14rem;
  }
  #courseLogo{
    display: block;
    margin-left: 22rem;
    margin-right: auto;
    width: 50%;
  }
  .logoImg{
    margin-left: 0;
  }
  #courselist{
    margin-left: 0;
  }
  .flip-card:active .flip-card-inner {
    transform: rotateY(180deg);
  }
  footer{
    display: none;
  }


}
